body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 40px
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

inputs {
  margin-top: 10px
}

.addOption {
  margin-top: 10px
}

.img {
  margin: 800px 0px 80px 0px;
  width: 400px;
  /* width: 100%; height: auto; */
}
